{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> Зарегистрация Page </title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.4/css/bulma.min.css"
    integrity="sha512-HqxHUkJM0SYcbvxUw5P60SzdOTy/QVwA1JJrvaXJv4q7lmbDZCmZaqz01UPOaQveoxfYRv1tHozWGPMcuTBuvQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<!--<body>

        <div class="container">
            <div class="columns">
                <div class="column">
                    <div class="box" style="background-color: whitesmoke;">
                        <article class="media">
                  
                            <div class="media-content">
                              <div class="content">
                                <p>
                                  <strong>Дописать новый функционал в ТГ бот fastapi+aiogram</strong>
                                <p>Есть бот для просмотра тендеров. Нужно внедрить новый возможности<br>
                                  админу. В ответе, пожалуйста обязательно указывайте часовую ставку.
                                </p>
                              </div>
                              <br><br><br><br>
                              <div class="container">
                                <div class="columns">
                                  <button class="button is-info is-outlined" style="margin-left: 5px;">docker </button>
                                  <button class="button is-info is-outlined" style="margin-left: 5px;"> fastapi </button>
                                  <button class="button is-info is-outlined" style="margin-left: 5px;"> postgres </button>
                                  <button class="button is-info is-outlined" style="margin-left: 5px;"> alogrem </button>
                                </div>
                              </div>
                              <br>
                             
                              <br><br>  
                              <article class="media">
                                <div class="media-left">
                                  <figure class="image is-64x64">
                                    <img src="{% static 'img/oqvoy.png' %}"  style="font-size: 5px;" alt="">
                                  </figure>
                                </div>
                                <div class="media-content">
                                  <div class="content">
                                    <p>
                                      <strong>Паша Иванов</strong> <small>21 отзыв</small>
                                    </p>
                                  </div>
                                </div>
                                
                              </article>
                            
                             <div class="column is-narrow" style="margin-left: 970px;">
                              <div class="box" style="padding-top: 20px; width:300px; background-color: whitesmoke;">
                                 
                                  <p>позавчера в 17:37</p>
                                  <br>
                                  <button class="button is-dark is-rounded">Договорная</button>
                                  <br><br><br>
                                  <span class="icon is-small">
                                    <i class="fas fa-reply" aria-hidden="true"> 18</i>
                                  </span>
                                  <br><br><br><br>
                                  <button class="button is-outlined is-outlined" style="color: aquamarine;">Откликнуться </button>
                                
                              </div>
                            </div>
                            
                            </div>
                            
                          </article>-->

<div class="container">
  <div class="columns" style="margin-top: 20px;">
    <div class="column">
      <div class="box" style="background-color: white;">
        <p class="title is-5">Дописать новый функционал в ТГ бот fastapi+aiogram</p>
        <p>Есть бот для просмотра тендеров. Нужно внедрить новый возможности<br>
          админу. В ответе, пожалуйста обязательно указывайте часовую ставку.
        </p>

        <br><br><br><br>
        <div class="container">
          <div class="columns">
            <button class="button is-info is-outlined" style="margin-left: 5px;">docker </button>
            <button class="button is-info is-outlined" style="margin-left: 5px;"> fastapi </button>
            <button class="button is-info is-outlined" style="margin-left: 5px;"> postgres </button>
            <button class="button is-info is-outlined" style="margin-left: 5px;"> alogrem </button>
          </div>
        </div>
        <br><br>


        <article class="media">
          <div class="media-left">
            <figure class="image is-64x64">
              <img src="{% static 'img/oqvoy.png' %}" style="font-size: 5px;" alt="">
            </figure>
          </div>
          <div class="media-content">
            <div class="content">
              <p>
                <strong>Паша Иванов</strong> <small>21 отзыв</small>
              </p>
            </div>
          </div>

        </article>



      </div>
    </div>
    <div class="column is-narrow">
      <div class="box" style="width:300px; background-color: white; margin-right: 15px;">

        <p class="title is-5"><strong>позавчера в 17:37</strong></p>
        <br><br><br>

        <button class="button is-dark is-rounded">До говорная</button>



        <span class="icon is-small">
          <i class="fas fa-reply" aria-hidden="true"> 18</i>
        </span>

        <br><br><br><br>
        <button class="button is-outlined is-outlined" style="color: aquamarine;">Откликнуться </button>
      </div>
    </div>
  </div>
</div>
</body>

</html>