{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Make Xabr Freelance web site </title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.4/css/bulma.min.css"
    integrity="sha512-HqxHUkJM0SYcbvxUw5P60SzdOTy/QVwA1JJrvaXJv4q7lmbDZCmZaqz01UPOaQveoxfYRv1tHozWGPMcuTBuvQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="style.css">
</head>

<body>

  <!-- navbar -->

  <nav class="navbar is-black" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <div class="navbar-item">

        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="{% url 'home' %}">
            Хабр</strong> Фриланс |
          </a>

          <div class="navbar-dropdown pt-4">
            <a class="navbar-item">
              <strong>Xabr</strong>
            </a>
            <a class="navbar-item">
              <strong>Q&A</strong>
            </a>
            <a class="navbar-item">
              <strong>Karier</strong>
            </a>
            <a class="navbar-item">
              <strong>freelance</strong>
            </a>
            <hr class="navbar-divider">
            <a class="navbar-item">
              Все сервисы Хабра
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <button class="button is-ghost is-size-7"
          style="color: aquamarine; border: none; text-decoration: none; cursor: pointer;">Разбираемся, что мешает
          карьерно развиваться девопсам</button>
      </div>
    </div>
  </nav>

  <section class="section py-3">
    <nav class="level">
      <div class="level-left">
        <p class="level-item">
          <a href="{% url 'order' %}" class="button is-ghost" style="size: 20px; color: black;">Заказы</a>
        </p>
        <p class="level-item has-text-centered">
          <a href="{% url 'base' %}" class="button is-ghost" style="size: 20px; color: black;">Специалисты</a>
        </p>
        <p class="level-item has-text-centered">
          <a href="{% url 'services' %}" class="button is-ghost" style="size: 20px; color: black;">Услуги</a>
        </p>
        <p class="level-item has-text-centered">
          <a href="{% url 'projects' %}" class="button is-ghost" style="size: 20px; color: black;">Проект</a>
        </p>
        <p class="level-item has-text-centered">
          <a href="{% url 'klub' %}" class="button is-ghost" style="size: 20px; color: black;">Клуб</a>
        </p>
      </div>
      {% if user.is_authenticated %}
      <div class="level-right">

        <p class="level-item has-text-centered">

          {% if user.role == 'customer' %}
          <a href="{% url 'plus.html' %}"> <i class="fa-solid fa-circle-plus"
              style="color:  #c3c3c3; margin-right: 10px; font-size: 35px;"></i> </a>

          {% else %}

          {% endif %}

          <a href="{% url 'sign_out' %}" class="button is-rounded  " style="size: 20px; color: black;">Личный
            Kабинет</a>
        </p>

        <div class="dropdown is-right is-hoverable">
          <div class="dropdown-trigger">
            {% if user.avatar %}
            <img src="{{user.avatar.url }}" alt="" class="image" style="background-color: red; border-radius: 50%;"
              width="40px">
            {% else %}
            <i class="fa-solid fa-user-tie"></i>
            {% endif %}
          </div>
          <div class="dropdown-menu" id="dropdown-menu" role="menu">
            <div class="dropdown-content">
              <a href="#" class="dropdown-item" style="background-color: whitesmoke;">
                <p class="subtitle">Подпоска</p>
                <p class="title is-5">{{user.username}}</p>
              </a>
              <hr class="p-0 m-0">
              <a class="dropdown-item" href="{% url 'person.html' %}">
                Профиль
              </a>

              <hr class="p-0 m-0">
              <a class="dropdown-item" href="{% url 'new' %}">
                Платные услуги
              </a>

              <hr class="p-0 m-0">
              <a class="dropdown-item" href="{% url 'personal.html' %}">
                Настройки
              </a>

              <hr class="p-0 m-0">
              <a class="dropdown-item" href="{% url 'design' %}">
                Новый Дизайн
              </a>
              <hr class="p-0 m-0">
              {% if user.role == 'customer' %}
              <a class="dropdown-item">
                Войти Kак Фрилансер
              </a>
              {% else %}
              <a class="dropdown-item">
                Войти Kак Заказчик
              </a>
              {% endif %}

              <hr class="m-0 p-0" class="dropdown-divider">
              <a href="{% url 'sign_out' %}" class="dropdown-item">
                Выход
              </a>
            </div>
          </div>

        </div>
        {% else %}
        <div class="level-right">
          <p class="level-item has-text-centered">
            <a href="{% url 'sign_in' %}" class="button is-rounded" style="size: 20px; color: black;">Вход</a>
          </p>
          <p class="level-item has-text-centered">
            <a href="{% url 'sign_up' %}" class="button is-outlined is-rounded"
              style="size: 20px; color: black;">Регистрация</a>
          </p>
        </div>
        {% endif %}
    </nav>
  </section>
  <hr>
  <br>

  <div class="container">
    <div class="columns">
      <div class="column">
        <form action="{% url 'plus.html' %}" method="post">
          {% csrf_token %}
          <div class="box">
            <p class="subtitle" style="color: rgb(4, 31, 55);">Прежде чем разместить заказ</p>
            <hr>
            <label class="checkbox">
              <input name="freelance" type="checkbox" required style="size: 30px;">

              <button class="button is-ghost is-size-5" style="color: rgb(4, 31, 55); padding-bottom: 40px;">«Хабр
                Фриланс» не для вакансий</button>
            </label>
            <br>
            <p class="subtitle is-size-6" style="margin-left: 36px;">«Хабр Фриланс» – это биржа заказов для удалённой
              работы, поэтому не следует размещать «заказы-вакансии». Если вам нужен исполнитель на определённую работу,
              укажите в названии заказа, что нужно сделать, а не кто вам нужен.</p>
            <p class="subtitle is-size-6" style="margin-left: 36px;"> <strong style="color: red;">Неправильно: </strong>
              «Нужен JavaScript-программист»</p>
            <p class="subtitle is-size-6" style="margin-left: 36px;"> <strong style="color: aquamarine">Правильно:
              </strong>«Написать JavaScript-модуль для интернет-магазина»</p>
            <p style="margin-left: 36px ;"> Обратите внимание: для размещения IT-вакансий идеально подходит другой
              проект
              <button class="button is-ghost" style="padding-bottom: 23px;">Хабра – Хабр Карьеру.</button>
            </p>
            <br>

            <label class="checkbox">
              <input type="checkbox" required name="description" style="size: 30px;">
              <button class="button is-ghost is-size-5" style="color: rgb(4, 31, 55); padding-bottom: 40px;">Делайте
                подробное описание заказа</button>
              </input>
            </label>

            <p class="subtitle is-size-6" style="margin-left: 36px;">На странице заказа старайтесь указывать всю
              необходимую для исполнителя информацию, а не пару строк текста. Чем подробнее и детальнее будет описан
              заказ, тем быстрее вы найдёте подходящего исполнителя.</p>
            <p> <strong style="color: red; margin-left: 36px;">Неправильно:</strong> «Нарисовать логотип» </p>
            <br>
            <p style="margin-left: 36px;"> <strong style="color: aquamarine;">Правильно:</strong> «Для сервиса приёма
              платежей необходимо нарисовать логотип с учётом требований из прикреплённого к заказу технического
              задания. Пожалуйста, указывайте в откликах примеры работ из портфолио, примерные сроки и цены, а также
              контактную информацию»</p>
            <br><br>
            <label class="checkbox">
              <input type="checkbox" required name="tematica">
              <button class="button is-ghost is-size-5"
                style="color: rgb(4, 31, 55); padding-bottom: 40px;">Придерживайтесь тематики ресурса</button>
            </label>
            <p class="subtitle is-size-6" style="margin-left: 36px;">Тематика сайта такая же, как у всех проектов Хабра
              –
              IT и всё, что связано с этими двумя буквами. Поэтому не стоит размещать заказы в духе «Помогите решить
              домашнее задание» или «Кормить кота во время моего отпуска».</p>
            <p class="subtitle is-size-6" style="margin-left: 36px;">Также не следует размещать заказы на осуществление
              каких-либо манипуляций, накруток, взлома ПО, раскрутки сайтов adult-тематики, участие в пирамидах и так
              далее. Подобные заказы удаляются модераторами, а средства, потраченные на их выделение или поднятие, не
              возвращаются.</p>
            <br><br>
            <label class="checkbox">
              <input type="checkbox" required name="gramotna">
              <button class="button is-ghost is-size-5" style="color: rgb(4, 31, 55); padding-bottom: 40px;">Пишите
                грамотно</button>
            </label>
            <p class="subtitle is-size-6" style="margin-left: 36px;">Ошибки и опечатки бывают у всех – старайтесь
              проверять текст перед отправкой. Постоянные орфографические ошибки и игнорирование правил пунктуации не
              приветствуются, равно как чрезмерное привлечение внимания, намеренное коверканье слов, «падонкоффский
              сленг», профессиональный сленг и прочие смайлики.</p>
            <p> <strong style="color: red; margin-left: 36px;">Неправильно:</strong> «СРОЧНЯК!!!!! иконка к моб.игрухе
              под
              андройд»</p>
            <p> <strong style="color: aquamarine; margin-left: 36px;">Правильно:</strong> «Нарисовать иконку для
              мобильного приложения под Android»</p>
            <br><br>
            <label class="checkbox">
              <input type="checkbox" required name="ispolnitel">
              <button class="button is-ghost is-size-5" style="color: rgb(4, 31, 55); padding-bottom: 40px;">Выбирайте
                исполнителя</button>
            </label>
            <p class="subtitle is-size-6" style="margin-left: 36px;"> Не забывайте выбирать исполнителя внутри своего
              заказа. Другие фрилансеры получат уведомление об этом и не будут жить в ожидании вашего ответа (если вы не
              можете ответить каждому). Это как правило хорошего тона.</p>

            <button class="button is-success" type="submit" style="margin-left: 16px;">Отправить</button>

          </div>
        </form>
        <br><br>
        <nav class="level">
          <div class="level-item has-text-centered">
            <div>
              <p class="title"> Хабр фриланс </p>
              <br>
              <button class="button is-ghost is-size-5"
                style="color: black; border: none; text-decoration: none; cursor: pointer;"> O сервисe</button>
              <br><br>
              <button class="button is-ghost is-size-5"
                style="color: black; border: none; text-decoration: none; cursor: pointer;">услуги и цены</button>
              <br><br>
              <button class="button is-ghost is-size-5"
                style="color: black; border: none; text-decoration: none; cursor: pointer;">контакты</button>
              <br><br>
              <button class="button is-ghost is-size-5"
                style="color: black; border: none; text-decoration: none; cursor: pointer;">@Habr</button>
            </div>
          </div>
          <div class="level-item has-text-centered">
            <div>
              <p class="title" style="padding-bottom: 65px;"> помощь </p>
              <br>
              <button class="button is-ghost is-size-5"
                style="color: black; border: none; text-decoration: none; cursor: pointer;"> для прилансерии</button>
              <br><br>
              <button class="button is-ghost is-size-5"
                style="color: black; border: none; text-decoration: none; cursor: pointer;">сервис поддержки</button>
              <br><br>
              <button class="button is-ghost is-size-5"
                style="color: black; border: none; text-decoration: none; cursor: pointer;">работа поддержки</button>
            </div>
          </div>
          <div class="level-item has-text-centered">
            <div>
              <p class="title" style="padding-bottom: 65px;"> документы </p>
              <br>
              <button class="button is-ghost is-size-5"
                style="color: black;  border: none; text-decoration: none; cursor: pointer;"> Соглашение с
                пользователем</button>
              <br><br>
              <button class="button is-ghost is-size-5"
                style="color: black;  border: none; text-decoration: none; cursor: pointer;">Правила оказания
                услуг</button>
              <br><br>
              <button class="button is-ghost is-size-5"
                style="color: black;  border: none; text-decoration: none; cursor: pointer;">Полотика
                конференциальности</button>
            </div>
          </div>
          <div class="level-item has-text-centered">
            <div>
              <p class="title is-size-4" style="padding-bottom: 255px; color: black;">Следите за нами в соцсетях</p>

              <button class="button is-info is-outlined is-ghost"
                style="border: none; text-decoration: none; cursor: pointer;"><i class="fa-brands fa-facebook"
                  style="font-size: 50px;"></i></button>
              <button class="button is-info is-outlined is-ghost"
                style="border: none; text-decoration: none; cursor: pointer;"><i class="fa-brands fa-twitter"
                  style="font-size: 50px;"></i></button>
              <button class="button is-info is-outlined is-ghost"
                style="border: none; text-decoration: none; cursor: pointer;"><i class="fa-brands fa-telegram"
                  style="font-size: 50px;"></i></button>
              <button class="button is-info is-outlined is-ghost"
                style="border: none; text-decoration: none; cursor: pointer;"><i class="fa-brands fa-telegram"
                  style="font-size: 50px;"></i></button>
            </div>
          </div>
        </nav>
      </div>
    </div>
  </div>